.login-container {
    display: center;
    margin-top: 0.5em;
    max-width: 50em; 
}

Form {
    display: center;
    margin: auto;
    margin-top: 10em;
    max-width: 30em;
}

h1 {
    background-color: aliceblue;
    opacity: 20%;
    border-radius: 80em;
}