.userList{
    display: flex;
    justify-content: center;
    margin-top: 0.3em;
    color:rgb(255, 255, 255);
}

.deleteButton {
    width: 1em;
    height: 1em;
    background-color: rgb(241, 226, 5);
    border-radius: 5em;
    margin-left: 1em;
}
.deleteButton:hover {
    cursor: crosshair;
}
.confirmDelete {
    background-color: rgb(255, 12, 12);
    width: 5em;
    height: 2em;
    border-radius: 5em;
    margin-left: 1em;
}
.display-none {
    display: none;
}

.showButton {
    width: 1em;
    height: 1em;
    background-color: rgb(81, 255, 0);
    border-radius: 5em;
    margin-left: 1em;
}
.showButton:hover {
    cursor: crosshair;
}

.upgradeButton {
    width: 1em;
    height: 1em;
    background-color: rgb(255, 196, 0);
    border-radius: 5em;
    margin-left: 1em;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
}