.userList{
    display: flex;
    justify-content: center;
    margin-top: 0.3em;
    color:rgb(255, 255, 255);
}

.deleteButton {
    width: 1em;
    height: 1em;
    background-color: red;
    border-radius: 5em;
    margin-left: 1em;
}
.deleteButton:hover {
    cursor: crosshair;
}


.showButton {
    width: 1em;
    height: 1em;
    background-color: rgb(81, 255, 0);
    border-radius: 5em;
    margin-left: 1em;

}

.upgradeButton {
    width: 1em;
    height: 1em;
    background-color: rgb(255, 196, 0);
    border-radius: 5em;
    margin-left: 1em;

}